.from-bottom {
    transform: translateY(60%);
    transition: transform 1s ease-out;
}

.from-left {
    transform: translateX(-100%);
    transition: all 1s ease-out;
}

.from-right {
    transform: translateX(100%);
    transition: all 1s ease-out;
}

.fade-in {
    opacity: 0;
    transition: all 1s ease-out;
}

.blur {
    filter: blur(50px);
    transition: filter 0.7s ease-out;
}

.active {
    opacity: 1;
    transform: translateY(0) translateX(0);
    filter: blur(0px);
}
