/* Classes for animating elements on the page */

/* The following classes can be added to html elements to set their initial state, before animation. */
.from-bottom {
    transform: translateY(60%);
}

.from-left {
    transform: translateX(-65%);
    transition: transform 1s ease-out, opacity 1s ease-out;
}

.from-right {
    transform: translateX(65%);
    transition: transform 1s ease-out, opacity 1s ease-out;
}

.fade-in {
    opacity: 0;
    transition: transform 1s ease-out, opacity 1s ease-out;
}

.blur {
    filter: blur(50px);
}

/* the active class is dynamically added to elements when they are in the viewport, animating them into position */
.active {
    opacity: 1;
    transform: translateY(0) translateX(0);
    filter: blur(0px);
    transition: all 1s ease-out;
}

/* The following classes are used for the onload animation in the title section */
.on-load {
    opacity: 0;
    transform: translateY(60%);
}

.on-load-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 1.2s ease-out;
}
